* {
    box-sizing: border-box;
    margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand-logo {
    margin-left: 5px;
    font-family: 'Press Start 2P', cursive;
}

main {
    flex-grow: 1;
}